.bannerSection {
    padding: 25px 0px;
}

.bannerSection .box {
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    height: 300px; /* Set a fixed height */
}

.bannerSection .box img {
    height: 100%; /* Make the image fill the height of the box */
    width: 100%; /* Ensure the image also fills the width */
    object-fit: cover; /* Crop the image to fill the box while maintaining aspect ratio */
}

.bannerSection .box:hover img {
    transform: scale(1.1);
}
